 <%= render 'pannel/nav' %> 
<div class="main">
  <div class="header",style="margin-top:0px">
    <div class="col-md-10 fa fa-user" style="font-size:20px;color:pink;padding-top:25px">
      <%= @currentname.user_name %>
    </div>
    <div class="col-md-2", style="float:right;padding-top:25px">      
        <%= link_to "",home_path, class:"fa fa-times-circle", style:"color:pink"%>      
    </div>
  </div>
  <div class="content">
   <% @message.each do |message| %>
    <div class="tool">
      <div class="dropdown-container2">      
        <div class="user"><i class="fa fa-fw fa-picture-o"></i>&nbsp;<%= message.user_name %><date style="font-size:18px; padding-left:20px;color:gray;"> <%=  l message.created_at, format: :euro  %><br></date>
        </div>
        <div class="message" style="font-size:16px"> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= message.dir_message %>
          <%= link_to "",messagedelete_path(messagedelete:message.dirmsg_id),:method => :delete , class: "fa fa-trash", style: "color:pink"%>
          <% if @array.include?(message.dirmsg_id)%>
          <%= link_to"",dirmsgunstar_path(:clickuserid => session[:clickuser_id],:unstarid => message.dirmsg_id),:method => :delete,class:"fa fa-star",style:"color:pink"%>
          <%else%>   
          <%= link_to"",dirmsgstar_path(:clickdstarid => message.dirmsg_id),class:"fa fa-star-o",style:"color:pink"%>
          <%end%>
          <%if message.count != 0 %>
               <%=message.count%><%= link_to "replies",replymsg_path(clickid:message.dirmsg_id),class:"",style:"color:pink"%>
          <%end%>
          <%= link_to "",dirmsgthread_path(dirthread_id:message.dirmsg_id) , class: "fa fa-comment-o", style: "color:pink"%><br>
        </div>
      </div>
    </div>
   <%end%>
  </div>
    <div class="footer">
      <div class="col-md-8 col-md-offset-2", style="margin-top:20px">    
        <%= form_for(:dirmessages, url: dirmsgcreate_path) do |f| %>
        <div class="col-md-10">
        <%= f.text_field :dir_message, class: 'form-control'%> </div> 
        <div class="col-md-2">
        <%= f.submit "Send", class: "btn btn-primary form-control" %></div>
        <% end %>
    </div>
  </div>
  <script>
  $('.content').scrollTop($('.content')[0].scrollHeight);
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
  </script>
</div>
<script language="javascript" type="text/javascript">setTimeout("location.reload();",20000);</script>


