<div class="footer">
    <div class="col-md-8 col-md-offset-2", style="margin-top:20px">
        <div class="col-md-10" style="color:black;">
        <div class="input-container">
          <div class="dropup">
            <button class="dropbtn"><%= link_to "@", "#",class: "", style:"color:black" %></button>
            <div class="dropup-content">
            <i style="float:right;">@</i><hr>
            <%= link_to "link 2", "#",class: "", style:"color:black" %>
            <%= link_to "link 3", "#",class: "", style:"color:black" %>
            </div>
          </div>
          <%= text_field :name, class:"input-field",style:"font-size:20px;" %>
          </div>
        </div>
        <div class="col-md-2">
          <%= link_to "Send", "#", class: "btn btn-lg btn-primary btnW" ,style:"float:left;"%>
        </div>
    </div>
  </div>
</div>

